* {
  text-align: left;
  font-size: 18px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
:root {
  --primary: #5a53fb;
  --secondary: #928ee8;

  --white: #fff;

  --gray-very-ligth: #f2f1f8;
  --gray-ligth: #d9d8ea;
  --gray: #9998a3;
  --gray-dark: #6e6e79;
  --gray-very-dark: #393944;
}

a {
  text-decoration: none;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.btn-style-less {
  border: none;
  background: transparent;
}

.color-primary {
  color: var(--primary);
}
